# https://github.com/jenkinsci/docker
# This is a fully functional Jenkins server. https://jenkins.io/.
version: '2'
services:
  jenkins:
    restart: always
    image: jenkins/jenkins:lts
    ports:
      - 8000:8080/tcp
      - 50000:5000/tcp
    volumes:
      - jenkins_home:/var/jenkins_home
volumes:
    jenkins_home:
        external: true
